
  <%= image_tag @user.get_profile_image(100,100) %>



<%= link_to "プロフィール更新",url:edit_user_path(@user.id) %>





<table class="users">
  <tr>
    <th>name</th>
    <th>books</th>
  </tr>
  <%@users.each do |u| %>
    <tr height="20">
      <td><%= image_tag u.get_profile_image(100,100) %></td>
      <td><%= u.text_field :name %></td>
      <td><%= link_to "users#show",user_path(u.id) %></td>
    </tr>
  <%end%>
</table>
