<div class="container">
  <div class="row">

    <div class="col-md-3">

      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th scope="col-md-2">name</th><td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction </th>
          <td><% int=@user.introduction %>
              <% if int.present? %>
                <%= int %>
              <% end %></td>
        </tr>
      </table>

      <%= render 'newbook', user:@user %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Users</h1>
      <table class="table">
        <tr>
          <th scope="col-md-2">image</th>
          <th scope="col-md-4">name</th>
          <th scope="col-md-2"></th>
        </tr>
        <% @users.each do |a_user| %>
          <tr height="20">
            <th scope="row"><%= link_to user_path(a_user.id) do %>
              <%= image_tag(a_user.get_profile_image(50,50)) %>
              <%end%></td>
            <td><%= a_user.name %></td>
            <td><%= link_to "Show", user_path(a_user.id) %></td>
          </tr>
        <%end%>
      </table>
    </div>

  </div>
</div>