<div class="container">
  <div class="row">

<div class="col-xl-4">
<div>
  <%= flash[:notice] %>
</div>

<h1>Users info</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<table class="table">
  <tr scope="col">
    <th>name</th><td><%= @user.name %></td>
  </tr>
  <tr scope="col">
    <th>introduction </th>
    <td><% int=@user.introduction %>
        <% if int.present? %>
          <%= int %>
        <% end %></td>
  </tr>
</table>

<div>
<%= link_to edit_user_path(@user.id),class:"btn btn-secondary" do%>
  <i class="fas fa-user-cog"></i>
<%end%>
</div>

<div>
<h1>New book</h1>
<% new_book=Book.new %>
<%= form_with model:new_book, url:books_path, method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field:title %>
  <p>Opinion</p>
  <%=f.text_area :body%>
  <button class="btn p-1 mb-2 btn-success text-white" type="submit">Create Book</button>
<%end%>
</div>
</div>


<div class="col-xl-8">
  <h1>Books</h1>
<table class="table">
  <tr scope="col">
    <th>title</th>
    <th>opinion</th>
  </tr>
  <% @books.each do |abook| %>
    <tr height="20">
      <td><%= abook.title %></td>
      <td><%= abook.body %></td>
      <td><%= link_to "Show", book_path(abook.id) %></td>
    </tr>
  <%end%>
</table>
</div>


</div>
</div>