<% if @book.errors.any? %>
  <% if @book.errors.count==1 %>
    <h3>An error has occurred.</h3>
  <%else%>
    <h3><%= @book.errors.count %>error has occurred.</h3>
  <%end%>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>New book</h1>
<% new_book=Book.new %>
<%= form_with model:new_book, url:books_path, method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field:title %>
  <p>Opinion</p>
  <%=f.text_area :body%>
  <div>
    <%=f.submit'Create Book'%>
  </div>
<%end%>

<h1>Books#edit</h1>

<%= form_with model:@book, url:book_path(@book.id), method: :patch do |f| %>
  <div class="new-book">
      <p>Title</p>
      <%= f.text_field:title %>
      <p>Body</p>
      <%=f.text_area :body %>
    </div>

    <div class="new-book">
      <%=f.submit'Update Book'%>
    </div>
  <%end%>

