<% if @book.errors.any? %>
  <% if @book.errors.count==1 %>
    <h3>An error has occurred.</h3>
  <%else%>
    <h3><%= @book.errors.count %>error has occurred.</h3>
  <%end%>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Editing Book</h1>

<%= form_with model:@book, url:book_path(@book.id), method: :patch do |f| %>
  <div class="new-book">
      <p>Title</p>
      <%= f.text_field:title %>
      <p>Body</p>
      <%=f.text_area :body %>
    </div>
    <div class="new-book">
      <%=f.submit'Update Book', class:"btn btn-success"%>
    </div>
  <%end%>

