<h1>User info</h1>
<div>
  <%= flash[:notice] %>
</div>

<% if @book.errors.any? %>
  <% if @book.errors.count==1 %>
    <h3>An error has occurred.</h3>
  <%else%>
    <h3><%= @book.errors.count %>error has occurred.</h3>
  <%end%>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= image_tag @user.get_profile_image(100,100) %>
<p>
  <b>name </b><%= @user.name %>
</p>
<p>
  <b>introduction </b>
  <% int=@user.introduction %>
  <% if int.present? %>
    <%= int %>
  <% end %>
</p>
<%= link_to "プロフィール更新",edit_user_path(@user.id) %>


<h1>New book</h1>
<% new_book=Book.new %>
<%= form_with model:new_book, url:books_path, method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field:title %>
  <p>opinion</p>
  <%=f.text_area :body%>
  <div>
  <%=f.submit'Create Book'%>
  </div>
<%end%>

  <h1>Books</h1>
  <table class="books">
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <% @books.each do |abook| %>
      <tr height="20">
        <td><%= link_to user_path(abook.user_id) do %>
          <%= image_tag(abook.user.get_profile_image(50,50)) %>
        <%end%></td>
        <td><%= abook.title %></td>
        <td><%= abook.body %></td>
        <td><%= link_to "Show", book_path(abook.id) %></td>
      </tr>
    <% end %>
  </table>