<div class="container">
  <div class="row">

    <div class="col-md-3">
    <div>
      <%= flash[:notice] %>
    </div>

    <h1>User info</h1>
      <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table">
      <tr>
        <th scope="col-md-2">name</th><td><%= @user.name %></td>
      </tr>
      <tr>
        <th>introduction </th>
        <td><% int=@user.introduction %>
          <% if int.present? %>
            <%= int %>
          <% end %></td>
      </tr>
    </table>

    <%= render 'newbook', user:@user %>

    </div>


    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <tr>
          <th class="col-md-2"></th>
          <th class="col-md-4">Title</th>
          <th class="col-md-6">Opinion</th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
        </tr>
        <tr height="20">
          <th class="row">
              <%= link_to user_path(@user.id) do %>
                <%= image_tag(@user.get_profile_image(50,50)) %>
                <%= @user.name %>
              <%end%>
          </th>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><% if @book.user==current_user %>
            <span><%= link_to "Edit",edit_book_path(@book.id), class:"btn btn-success" %></span>
          </td>
          <td>
            <span><%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn btn-danger", "data-confirm"=>"Are you sure?"%></span>
              <% end %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
