<div class="container">
  <div class="row">

<div class="col-xl-4">
<div>
  <%= flash[:notice] %>
</div>

<h1>User info</h1>

<%= image_tag @user.get_profile_image(100,100) %>
<table class="table">
  <tr class="col">
    <th>name</th><td><%= @user.name %></td>
  </tr>
  <tr>
    <th>introduction </th>
    <td><% int=@user.introduction %>
        <% if int.present? %>
          <%= int %>
        <% end %></td>
  </tr>
</table>

<div>
<%= link_to edit_user_path(@user.id),class:"btn btn-secondary" do%>
  <i class="fas fa-user-cog"></i>
<%end%>
</div>

<div>
<h1>New book</h1>
<% new_book=Book.new %>
<%= form_with model:new_book, url:books_path, method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field:title %>
  <p>opinion</p>
  <%=f.text_area :body%>
  <button class="btn p-1 mb-2 btn-success text-white" type="submit">Create Book</button>
<%end%>
</div>
</div>


<div class="col-xl-8">
<h1>Book detail</h1>
  <table class="table">
    <tr class="col">
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <tr height="20">
      <td><%= image_tag @book.user.get_profile_image(50,50) %></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td><% if @book.user==current_user %>
        <span><%= link_to "Edit",edit_book_path(@book), class:"btn btn-success" %></span>
        <span><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger", "data-confirm"=>"Are you sure?"%></span>
      <% end %></td>
    </tr>
  </table>
  </div>

</div>
</div>
